body {
	background-color: black;
	background-image: url(../assets/img/torus.png);
	background-repeat: repeat;
	background-position-y: -375px;
	background-position-x: 40px;
	color: whitesmoke;
}
img {
	width: 250px;
}
.container {
	text-align: center;
}
button {
	background-color: antiquewhite;
	border-radius: 30px;
}
button:hover {
	color: darkred;
}
form {
	text-align: center;
}
.link {
	font-size: 20px;
	color: wheat;
}
.link:hover {
	color: aliceblue;
}
.link:visited {
	color: cornflowerblue;
}